<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  	<bean id="nfsUtil" class="com.noriental.framework.util.NfsUtil">
        <property name="nfsUrl" value="${server.nfs.url}"/>
        <property name="tmpDir" value="${server.storage.tmpdir}"/>
    </bean>
	        
	<dubbo:reference id="fileUploadService" 
		interface="com.edu.base.service.IFileUploadService" 
		check="false" timeout="5000" version="${service.dubbo.fileupload.version}"/>
</beans>