@charset "utf-8";
/* CSS Document */

/* 1-1-1知识点管理_模块列表02 */

.list .listTable tbody tr td .treeSwBox{ position:absolute; top:107px; left:226px; }
.list .listTable tbody tr td:hover .treeSwBox{ display:block;}
.operBtn{ float:right; margin:0 10px 0 0;}
.operBtn .BtnWhite22 .btnSave{ padding:0 10px 0 6px; font-size:12px;}
.operBtn .BtnWhite22 .btnSave span{ background:url(../../img/ico/icoBasic.png) no-repeat; width:14px; height:14px; display:inline-block; vertical-align:-4px; margin:0 6px 0 0;}
.operBtn .BtnWhite22 .btnSave .addIco{ background-position:-26px 0 ;}
.operBtn .BtnWhite22 .btnSave:hover .addIco{ background-position:-26px -17px; }
.operBtn .BtnWhite22 .btnSave .editIco{ background-position:-64px 0; vertical-align:-3px;}
.operBtn .BtnWhite22 .btnSave:hover .editIco{ background-position:-64px -17px; }
.operBtn .BtnWhite22 .btnSave .delIco{ background-position:-45px 0;}
.operBtn .BtnWhite22 .btnSave:hover .delIco{ background-position:-45px -17px; }
.operBtn .BtnWhite22 .btnSave .returnIco{ background-position:-84px 0 ;}
.operBtn .BtnWhite22 .btnSave:hover .returnIco{ background-position:-84px -17px; }
.container .mainWrap .mainIndex .mainCon .mainTitle .operBtn{ margin-top:5px;}
.conBox .conFormList .conForm{ float:left; margin:0 0 0 30px ;}
#select_subject{border:1px solid #CCCCCC;}

/*1-1-2知识点管理_专题编辑样式*/
.container .mainWrap .mainIndex .mainCon .mainPart .conFormList{height:40px;padding:10px 0 10px 10px;background-color:#fff;}
.container .mainWrap .mainIndex .mainCon .mainPart .conFormList .build{height:30px;line-height:30px;text-align:center;color:#666666;border:1px solid #C0C3CF;margin:0px;margin-top:5px;margin-left:2px;padding-right:10px;float:right;}
.container .mainWrap .mainIndex .mainCon .mainPart .conFormList .ico{height:12px;width:12px;background-image:url(../../img/ico/ico_idxNav.png);background-position:-25px 0px;float:left;margin:10px 5px;}
.container .mainWrap .mainIndex .mainCon .mainPart .conFormList .ico:hover{height:12px;width:12px;background-image:url(../../img/ico/ico_idxNav.png);background-position:-40px 0px;float:left;margin:10px 5px;}
.container .mainWrap .mainIndex .mainCon .mainPart .conFormList .ico0{height:14px;width:14px;background-image:url(../../img/ico/ico_idxNav.png);background-position:0px -25px;float:left;margin:10px 5px;}
.container .mainWrap .mainIndex .mainCon .mainPart .conFormList .ico0:hover{height:14px;width:14px;background-image:url(../../img/ico/ico_idxNav.png);background-position:-20px -25px;float:left;margin:10px 5px;}
.container .mainWrap .mainIndex .mainCon .mainPart .conFormList .ico1{height:13px;width:11px;background-image:url(../../img/ico/ico_idxNav.png);background-position:-55px 0px;float:left;margin:10px 5px;}
.container .mainWrap .mainIndex .mainCon .mainPart .conFormList .ico1:hover{height:13px;width:11px;background-image:url(../../img/ico/ico_idxNav.png);background-position:-70px 0px;float:left;margin:10px 5px;}
/*添加资源弹框*/

.formCon{ overflow:hidden; margin:20px 0 0 0;}
.formCon .formList{ overflow:hidden; margin:0 0 20px 0;}
.formCon .formList label{ text-align:right; float:left; margin:2px 20px 0 0; color:#296fad; min-width:80px;}
.formCon .formList label em{ color:#f15540; margin:0 5px;}
.infoText{ width:542px; height:22px; line-height:22px;background:#FFFFE1;border:1px solid #6FB3E0; padding:0 5px; float:left}
.formCon .formList .info .infoBox{ margin:2px 40px 0 0; float:left; position:relative;}
.infoCheckbox{ float:left; margin:2px 5px 0 0;}
.infoLabel{ float:left; color:#808080; cursor:pointer;}
.conFormWrap .formCon .formList .info .infoAdd .AddBoxWrap{  float:left; margin: 0 10px 0 0;position:relative;}
.conFormWrap .formCon .formList .info .infoAdd .AddBoxWrap .serach01{width: 95px;height: 30px;line-height: 30px;color: #fff;background-color: #feb04a;border-style: none;border-radius: 5px;font-size: 14px;
position:absolute; top:100px;}
.conFormWrap .formCon .formList .info .infoAdd .AddBoxWrap .serach02{width: 95px;height: 30px;line-height: 30px;color: #fff;background-color: #feb04a;border-style: none;border-radius: 5px;font-size: 14px;
position:relative;top:150px;}
.conFormWrap .formCon .formList .info .infoAdd .AddBoxWrap.AddBoxWrap01{ margin:0 0 0 10px}
.conFormWrap .formCon .formList .info .infoAdd .AddTitle{ height:30px; line-height:30px; background-color:#f7f7f7;font-weight:bold; color:#999999; padding:0 10px; }
.conFormWrap .formCon .formList .info .infoAdd .AddBox{ float:left; border:1px solid #cccccc; width:168px; height:182px; padding:5px 0; overflow-y:auto}
.conFormWrap .formCon .formList .info .infoAdd .AddBox li{ height:20px; line-height:20px; padding:0 10px; cursor:pointer;}
.conFormWrap .formCon .formList .info .infoAdd .AddBox li.current,.conFormWrap .formCon .formList .info .infoAdd .AddBox li.current:hover{ background-color:#50a2df; color:#ffffff;}
.conFormWrap .formCon .formList .info .infoAdd .AddBox li:hover{ background-color:#eff2f9;}
.conFormWrap .formCon .formList .info .infoAdd .BtnWrap .search{ margin:0 0 16px 0;}
.conBtnWrap { margin:0 300px 8px;}
.conBtnWrap .search{width: 95px;height: 30px;line-height: 30px;color: #fff;background-color: #feb04a;border-style: none;border-radius: 5px;font-size: 14px;left: 20px;margin:0 20px;}
.formCon .formList.formList01 label{ clear:both; float:none}
.infoSelect{ width:71px; height:23px; line-height:23px; border:1px solid #cccccc; margin:0 10px 0 0; color:#565656;}
.infoSelect option{ padding:2px 5px; }
.infoSelect option:hover{ background-color:#eff2f9;}

/*1-1-3知识点管理_进入单元主题样式*/
.container .mainWrap .mainIndex .mainCon.mainCon01{ width:100%}
.container .mainWrap .mainIndex .mainCon .mainTitle span{ color:#296fad;}
.container .mainWrap .mainIndex .mainCon .mainPart{padding: 0 10px;}
.container .mainWrap .mainIndex .mainCon .mainPart .leftConBox{width:350px;border:1px solid #CCCCCC;margin-left:25px;margin-top:40px;float:left;}
.container .mainWrap .mainIndex .mainCon .mainPart .leftConBox li{width:330px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-binding:url('ellipsis.xml#ellipsis');}
.container .mainWrap .mainIndex .mainCon .mainPart .build{margin-left:20px;color:#666666;float:right;}
.container .mainWrap .mainIndex .mainCon .mainPart .build:hover{color:#296fad;cursor:pointer;}
.container .mainWrap .mainIndex .mainCon .mainPart .head{background-color:#F7F7F7;height:30px;line-height:30px;padding:0 10px;}
.container .mainWrap .mainIndex .mainCon .mainPart .leftConBox span{font-weight:bold;}
.container .mainWrap .mainIndex .mainCon .mainPart .rightConBox{width:560px;border:1px solid #CCCCCC;margin-right:25px;margin-top:40px;padding-bottom:20px;float:right;}
.container .mainWrap .mainIndex .mainCon .mainPart .rightConBox li span{width:510px;float:left;font-weight:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-binding:url('ellipsis.xml#ellipsis');}
.container .mainWrap .mainIndex .mainCon .mainPart .rightConBox span{font-weight:bold;}
.container .mainWrap .mainIndex .mainCon .mainPart .rightConBox .letter{width:100px;text-align:left;float:right;}

.tableContent li{height:30px;line-height:30px;padding:0 10px;border-top:1px solid #CCCCCC;cursor:pointer;}
.tableContent li:hover{background-color:#EEF9FF;}
.tableContent li.current{background-color:#6FB3E0;color:#fff;}

.list .listTable{border:1px solid #D8D8D8;}

.rfloat{float:right;}
.btn-blue22{ float:left;text-align:center;}
.btn-blue22 a.btnSave{ height:22px; line-height:22px;  padding:0 15px; background-color:#6fb3e0; display:block; color:#fff;font-size:12px;}
.btn-blue22 a.btnSave:hover{ background-color:#3091d1;}

.margin-top5{margin-top:5px;}
.margin-left5{margin-left:5px;}

/** add */
.series_row{cursor:pointer;}
