/** fixed **/
.mainTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.formTab {
    margin: 15px 0 0 0;
}

/** utils **/
.inline {
    display: inline-block;
}

.fRight {
    float: right;
}

.fLeft {
    float: left;
}

.tCenter {
    text-align: center;
}

.fNo {
    float: none!important;
 }

.hidden {
    display: none;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.relative {
    position: relative;
}

/** common **/
body {
    font-size: 12px;
}

a, a:active, a:link {
    color: #666;
}


/** content **/
input.searchIpt {
    height: 25px;
}

#roleSel {
    height: 25px;
}

a.searchBtn {
    height: 25px;
    line-height: 25px;
    width: 40px;
    text-align: center;
    padding: 0 5px;
    display: inline-block;
    background-color: #61a2d8;
    color: #fff;
    vertical-align: top;
}

.previewBox {
    min-width: 800px;
}
