dl, dt, dd{
	float:none;
}
/*�����������css start*/
.left-sidebar {
	width: 199px;
	float: left;
	text-align: left;
	background-color: #e6e6e6;
	border-bottom:1px solid #CCCCCC;
}

.left-sidebar ul {
	font-size: 14px;
	line-height: 30px;
}

.left-sidebar ul li {
	height: 30px;
	padding: 9px 0px;
	border-top: 1px solid #CCCCCC;
	cursor:pointer;
}

.left-sidebar ul li:nth-child(1){
	border:none;
}

.left-sidebar ul li a {
	color: #505050;
	display: block;
	color: black;
	text-decoration: none;
	padding: 0 15px;
}

#paper_mg_menu li.active a {
	background: #408CC1;
	border: none;
	color: #FFFFFF;
	font-weight:bold;
}

#paper_mg_menu li.current a {
	background: #408CC1;
	border: none;
	color: #FFFFFF;
	font-weight:bold;
}

.left-sidebar .sub-menu{
	padding:15px;
}

.left-sidebar .sub-menu a{
	display:block;
	text-decoration: none;
	color:#CCCCCC;
	margin-left:25px;
}

.left-sidebar .sub-menu a:hover, .left-sidebar .sub-menu a.current{
	color:#000000;
}

/** 左侧菜单ico定义 */
.quiz-menu-ico{position:relative;top:8px;margin-right:20px;display:inline-block;}
.quiz-menu-ico1{width:18px; height:18px;background:url(../../img/ico/ico_menu.png) no-repeat 0 -18px; }
.quiz-menu-ico2{width:18px; height:20px;background:url(../../img/ico/ico_menu.png) no-repeat -18px -20px; }
.quiz-menu-ico3{width:18px; height:20px;background:url(../../img/ico/ico_menu.png) no-repeat -36px -20px; }
.quiz-menu-ico4{width:18px; height:20px;background:url(../../img/ico/ico_menu.png) no-repeat -54px -20px; }
.quiz-menu-ico5{width:18px; height:20px;background:url(../../img/ico/ico_menu.png) no-repeat -73px -20px; }
.quiz-menu-ico6{width:18px; height:20px;background:url(../../img/ico/ico_menu.png) no-repeat -92px -20px; }
#paper_mg_menu li.current .quiz-menu-ico1{background:url(../../img/ico/ico_menu.png) no-repeat 0 0px;}
#paper_mg_menu li.current .quiz-menu-ico2{background:url(../../img/ico/ico_menu.png) no-repeat -18px 0px;}
#paper_mg_menu li.current .quiz-menu-ico3{background:url(../../img/ico/ico_menu.png) no-repeat -36px 0px;}
#paper_mg_menu li.current .quiz-menu-ico4{background:url(../../img/ico/ico_menu.png) no-repeat -54px 0px;}
#paper_mg_menu li.current .quiz-menu-ico5{background:url(../../img/ico/ico_menu.png) no-repeat -73px 0px;}
#paper_mg_menu li.current .quiz-menu-ico6{background:url(../../img/ico/ico_menu.png) no-repeat -92px 0px;}



/*�����������css end*/

/*�����м����ݵ�css start*/
.content-detail {
	width: 800px;
	float: right;
	text-align: left;
	border-left: 1px solid #CCCCCC;
	background-color:#F7F5FA;
	min-height: 600px;
}

/** ģ�������*/
.paper-content-bar{
	background-color:#F7F7F7;
	height:40px;
	font-size:16px;
	line-height:40px;
	border-bottom:1px solid #CCCCCC;
}


/** ������ǰװ�� */
.paper-content-bar>span.bluebar{
	width:3px;
	height:40px;
	float:left;
	background-color:#70B4E0;
	margin:0 10px 0 -1px;
}

/** �Ծ���ϸ��Ϣ */
.paper-content-bar>span.btn-bar {
	font-size: 12px;
    font-weight: 30px;
    line-height: 28px;
    width: 60px;
    height:30px;
    margin: 5px;
    border:1px solid #CCCCCC;
    text-align : center;
    cursor:pointer;
}

/** ��Ŀ��ʽ */


/** �����Զ���ѡ��� **/
.pselect{
	display:inline-block;
}

.default-option{
	display:inline-block;width:100px;height:25px;border:1px solid #CCCCCC;background:#FFFFFF;line-height:25px;
	padding-left:5px;
	font-size:12px;
	cursor:pointer;
}

.select-option{
	width:100px;
	max-height:200px;
	border:1px solid #CCCCCC;
	table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
	overflow:auto;
	background:#FFFFFF;
	font-size:12px;
    position: absolute;
	z-index: 9991;
	border-top:none;
	display:none;
}

.select-option span{
	display:block;
	height:20px;
	line-height:20px;
	overflow:hidden;
	cursor:pointer;
	padding-left:5px;
}

.select-option span.active{
	background:#207BDB;
	color:#FFFFFF;
}

.select-option span:hover{
	background:#207BDB;
	color:#FFFFFF;
}

.select-down{
	background-image: url("../img/slec_down.png");
	width:21px;
	height:21px;display:inline-block;
	vertical-align:middle;
	float:right;
	margin:1px;'
}


/** button��ʽ */
.btn-box{
	margin-top:15px;
}

.btn-yellow{
	background:#FDB24A;
	width:80px;
	height:30px;
	color:#FFFFFF;
	line-height:30px;
	padding: 5px 10px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;
	cursor:pointer;
}

/** �Ծ���ϸ��Ϣ */
.paper-detail-info{
	min-height:90px;
	background:#FFFFFF;
	border-bottom:1px solid #CCCCCC;
	padding: 0 10px;
}
.paper-detail-up{
	height:50px;font-size:16px;color:blue; 
}

.paper-detail-down{
	min-height:40px;font-size:12px;color:#656565;padding: 5px 0 0 0;margin-bottom:5px;
}

.paper-detail-name{
	float:left;padding: 20px 0 5px 0;color:#000000;font-size:14px;font-weight:bold;
}

.paper-detail-desc{
	float:left;
}

.paper-detail-desc label{
	font-weight:normal;margin-right:15px;white-space:nowrap;
}

/*****merge  css*****/
.rfloat{float:right;}
.btn-blue22{ float:left;text-align:center;}
.btn-blue22 a.btnSave{ height:22px; line-height:22px;  padding:0 15px; background-color:#6fb3e0; display:block; color:#fff;font-size:12px;}
.btn-blue22 a.btnSave:hover{ background-color:#3091d1;}

.search{ display:inline-block;}
.search a.btnSave{ height:22px; line-height:22px;  padding:0 15px; background-color:#6fb3e0; display:block; color:#fff;}
.search a.btnSave:hover{ background-color:#3091d1;}

.margin-top5{margin-top:5px;}
.margin-left5{margin-left:5px;}
.w80{width:80px;}
.w100{width:100px;}
.w140{width:140px;}
.w180{width:180px;}
.w220{width:220px;}

.mainIndex .top{height:40px;line-height:40px;font-size:18px;}

.sidebar .tab{font-size:0;background:#F7F7F7;margin-top:10px;border-bottom:1px solid #CCCCCC;}
.sidebar .tab span{height:30px;float:left;font-size:14px;line-height:30px;text-align:center;width:50%;cursor:pointer;}
.sidebar .tab span:hover,span.current{background:#6FB3E0;color:#FFFFFF;}

.sidebar select{width:100%;height:30px;line-height:30px;font-size:14px;border:none;border-bottom:1px solid #CCCCCC;}

.title-bar{display:inline-block;width:5px;height:100%;background:#6FB3E0;float:left;margin-right:5px;}

.sort-array{margin-left:5px;}
.sort-panel{border: 1px solid #D9D9D9;border-left:none;border-right:none;font-size:0;}
.sort-panel span{display:inline-block;height:30px;line-height:30px;width:90px;border-right: 1px solid #D9D9D9;text-align:center;cursor:pointer;font-size:12px;}
.sort-panel span:hover,span.current{background:#6FB3E0;color:#FFFFFF;}

.resource-list{padding:10px;}
.resource-list > div{}
.resource-list > div dl{width:100%;}
.resource-list > div dl.title{background-color: #E1EAF9;height: 25px;line-height: 25px;font-size: 14px;}
.resource-list > div dl.title span{float:right;margin-left:5px;cursor:pointer;padding:0 5px;}
.resource-list > div dl.title span:hover,span.current{background-color: #6FB3E0;color: #FFFFFF;}
.resource-list > div dl.rel-info{background-color: ##F7F7F7;height: 25px;line-height: 25px;}
.resource-list > div dl.info{background-color: ##FFFFFF;padding:10px 0;}
.resource-list > div dl dt{}
.resource-list > div dl dd{text-align:left;color:#999999;padding-right:15px;}


.rotate-vertical{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

/** pre question next question **/
.pre-question{background:url(../../img/ico/ico_idxNav.png) no-repeat; width:35px; height:35px; display:block; margin:0 0 3px 0;background-position: -60px 0;}
.pre-question:hover{
	cursor : pointer;
	background:url(../../img/ico/ico_idxNav.png) no-repeat; width:35px; height:35px; display:block; margin:0 0 3px 0;background-position: -100px 0;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.next-question{
	cursor : pointer;
	background:url(../../img/ico/ico_idxNav.png) no-repeat; width:35px; height:35px; display:block; margin:0 0 3px 0;background-position: -60px 0;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.next-question:hover{
	background:url(../../img/ico/ico_idxNav.png) no-repeat; width:35px; height:35px; display:block; margin:0 0 3px 0;background-position: -100px 0;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
}

.white-bar{width:800px;height:25px;background-color: #FFFFFF}

.qust-replace-btn-blue{ float:left;}
.qust-replace-btn-blue a.btnSave{ height:26px; line-height:26px;  padding:0 20px; background-color:#6fb3e0; display:block; color:#fff;}
.qust-replace-btn-blue a.btnSave:hover{ background-color:#3091d1;}
.topicBox{ border:1px dashed #5ac2fd; padding:10px; background-color:#fff; position:relative}
.topicBox .qust-replace-btn-blue{ position:absolute; right:0; top:0; display:none;}
.topicBox:hover .qust-replace-btn-blue{ display:block;}


span.btn18{
    display: inline-block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    width: 30px;
    cursor:pointer;
}

span.btn18.current{ background: none repeat scroll 0 0 #70B4E0;color:#ffffff}

.upload-plus{width:30px;height:30px;background:url(../../img/ico/icoBasic.png) no-repeat -71px -121px;float:left;margin-right:5px;}