#stageSel, #subjectSel, #checkSel, #publishSel {
    height: 25px;
}

.sort a {
    font-size: .9rem;
    color: #ccc;
}

.sort a:hover {
    font-weight: bold;
}

.sort a.selected {
    color: #666;
    font-weight: bold;
}

a[data_oper="disabled"] {
    color: #d2d2d2!important;
    cursor: not-allowed;
}

a[data_oper="disabled"]:hover {
    font-weight: normal!important;
}

.sort span {
    margin: 0 12px;
}

.sort a.up:after {
    content: "↑";
}

.sort a.down:after {
    content: "↓";
}

ul.courseList {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.courseList li {

}

div.course {
    height: 150px;
    border-top: 1px solid #ccc;
    overflow: hidden;
}

div.course_imgBox {
    width: 220px;
    height: 150px;
}

.img_box {
    text-align: center;
    margin-top: 5px;
    position: relative;
}

div.course_content {
    width: 620px;
    height: 150px;
}

div.course_content section {
    padding: 2px 0 2px 2px;
}

div.course_content div.infos {
    margin: 2px 0;
}

div.course_content div.infos b {
    color: #666;
}

div.course_content div.infos a:hover {
    font-weight: bold;
}

div.course_content section span {
    margin: 0 2px;
}

div.course_content section h4 {
    font-weight: bold;
    font-size: larger;
}

div.course_oper {
    width: 158px;
    height: 150px;
}

.border {
    border-left: 1px solid #ccc;
    width: 0;
    height: 130px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.oper>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.oper {
    width: 150px;
    text-align: center;
    height: 150px;
    margin-top: -10px;
    margin-left: 15px;
    position: relative;
}

.oper a {
    font-size: .9rem;
    color: #333;
    width: 70px;
    height: 25px;
    line-height: 25px;
    padding: 2px 8px;
    border: 1px solid #e4e4e4;
    display: block;
    margin: 10px auto;
    background-color: #f2f2f2;
}

a[data-oper*="hidden"] {
    display: none!important;
}

.oper a:hover {
    font-weight: normal;
}

.oper a.disabled {
    color: #ccc;
    cursor: not-allowed;
}

/** 三角形 **/
.triangle {
    position: absolute;
    top: 0;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 50px solid #ff0000;
    border-right: 50px solid transparent;
}

.triangle span {
    top: -40px;
    left: -7px;
    width: 50px;
    position: absolute;
    transform: rotate(-45deg);
    color: #eee;
}

/** 待审核 **/
.ang_pending {
    border-top: 50px solid #cccccc;
}

.ang_pending span {
    color: #333;
}

/** 审核中 **/
.ang_checking {
    border-top: 50px solid #ffcc33;
}

.ang_checking span {
    color: #333;
}

/** 已退回 **/
.ang_refused {
    border-top: 50px solid #cc0066;
}

/** 待发布 **/
.ang_disabled {
    border-top: 50px solid #0099cc;
}

/** 已发布 **/
.ang_enabled {
    border-top: 50px solid #009966;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

/** 评论列表 **/
ul.comment-list li {
    border-top: 1px solid #ccc;
}

.comment {
    height: 120px;
    width: 600px;
}

.commentTitles {
    width: 25%;
    height: 120px;
    text-align: center;
    background-color: #f2f2f2;
}

.commentTitles div {
    position: relative;
    top: 10%;
    transform: translateY(10%);
}

.commentTitles span {
    display: block;
    margin: 4px 0;
}

.commentContent {
    width: 73%;
    height: 112px;
    padding: 4px 5px;
    word-wrap: break-word;
    overflow: hidden;
}

li.nodata {
    text-align: center;
    font-size: large;
}

/** 发布对象 **/

.list_table tbody tr td {
    height: 46px;
    line-height: 46px;
    padding: 0 0 0 15px;
    text-overflow: ellipsis;
}

.list_table tbody tr td span {
    display: inline-block;
    width: 80px;
    font-size: 1.1em;
}

.list_table input.checkbox {
    height: auto;
    width: auto;
    margin-right: 5px;
}
